.nav {
  width: 100vw;
  top: 0;

  .container {
    background-color: cadetblue;
    display: flex;
    height: 10vh;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;

    .username {
      font-size: 2rem;
      color: yellow;
    }

    .logoutBtn {
      width: 9rem;
      height: fit-content;
      padding: 1rem;
      font-size: 1rem;
      cursor: pointer;
      align-self: flex-start;
    }
  }
}
